<div class="container-fluid">
    <div class="row" id="sidebar">
        <div class="col-md-3 col-lg-2"> 
            
            <h2> Filters </h2>

            <div class="border-black">
                <h5> Species </h5>
                <div class="" *ngFor="let species of speciesFilterList;"> 
                    <input type="checkbox"   (change) ="updateSpeciesFilter(species)"/> 
                    {{ species}}
                </div>                
            </div>

            <br/> 

            <div class="border-black">
                <h5> Gender </h5>                
                <div class="" *ngFor="let gender of genderFilterList;"> 
                    <input type="checkbox"   (change) ="updateGenderFilter(gender)"/> 
                    {{ gender}}
                </div>                            
            </div>

            <br/>

            <div class="border-black">
                <h5> Origin </h5>
                <div class="" *ngFor="let origin of originFilterList;"> 
                        <input type="checkbox"   (change) ="updateOriginFilter(origin)"/> 
                        {{ origin }}
                </div>
            </div>



        
        </div>
        <div class="col-md-9 col-lg-10">

          <div class="row">
              <div *ngFor="let character of screenListView" class="col-md-3 col-sm-6 col-6">
                  <div class="char-wrapper">  
                      <div class="char-pic-wrapper">
                        <div class="char-pic">
                            <img src="{{character['image']}}"/>
                        </div>
                        <div class="char-name">
                            <h4>
                                {{ character['name']}}
                            </h4>
                            <div >
                                id: {{ character['id']}}  &nbsp;  &middot;  &nbsp;
                                created : {{ parseCreated (character['created']) }} 
                            </div>
                            
                        </div>
          
                      </div>

                      <div class="list-item-wrapper">
                         <div class="list-item row">
                             <div class="col-md-3"> Species </div>
                             <div class="col-md-9 talign-right"> {{ character['species'] }}  </div>
                         </div>     
                         <div class="list-item row">
                            <div class="col-md-3"> Gender </div>
                            <div class="col-md-9 talign-right"> {{ character['gender'] }}  </div>
                         </div>     
                         
                         <div class="list-item row">
                            <div class="col-md-3"> Origin </div>
                            <div class="col-md-9 talign-right"> {{ character['origin']['name'] }}  </div>
                         </div>     
                         
                      </div>

                  </div>
               </div>   
               
          </div>

        </div>
    </div>
</div>



